.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  color: #212121;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Container, Section */
.section.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.section.features {
  padding-bottom: 47px;
}

.section.wrap {
  padding-top: 47px;
}

/*  Header*/
.header {
  border-bottom: 1px solid #ECECEC;
}

.flex-container {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  padding: 24px 0 25px;
  color: #2196F3;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}
.logo__text {
  color: #000000;
}
.logo__text--inverse {
  color: #FFFFFF;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__list:not(:last-child) {
  margin-right: 50px;
}
.site-nav__list {
  position: relative;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link--current {
  color: #2196F3;
}
.site-nav__link--current::after {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% + 6px);
  left: -3px;
  height: 4px;
  bottom: -1px;
  background: #2196F3;
  border-radius: 2px;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav__list:not(:last-child) {
  margin-right: 50px;
}
.auth-nav__list {
  position: relative;
}
.auth-nav__copy {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__copy:hover, .auth-nav__copy:focus {
  color: #2196F3;
}
.auth-nav__envelope {
  margin-right: 10px;
  fill: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__smartphone {
  margin-right: 10px;
  fill: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__copy:hover .auth-nav__envelope, .auth-nav__copy:focus .auth-nav__envelope {
  fill: #2196F3;
}
.auth-nav__copy:hover .auth-nav__smartphone, .auth-nav__copy:focus .auth-nav__smartphone {
  fill: #2196F3;
}

/* Hero */
.hero {
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  max-width: 696px;
  margin: 0 auto 30px;
  color: #FFFFFF;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
}

.btn {
  padding: 10px 32px;
  min-width: 216px;
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #188CE8;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250 cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__stud {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: auto;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__stud:hover, .modal__stud:focus {
  fill: #2196F3;
}
.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

/* Form */
.form {
  margin-left: auto;
  margin-right: auto;
}
.form__text {
  display: block;
  margin-bottom: 4px;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.01em;
  font-weight: 400;
  line-height: 1.17;
  color: #757575;
}
.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  cursor: pointer;
}
.form__input {
  padding: 12px 42px;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form__input:hover, .form__input:focus {
  border: 1px solid #2196F3;
}
.form__svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover + .form__svg, .form__input:focus + .form__svg {
  fill: #2196F3;
}
.form__coment {
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  height: 120px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form__coment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__coment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__coment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__coment:hover, .form__coment:focus {
  outline: none;
  border: 1px solid #2196F3;
}
.form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}
.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form__icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid black;
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__checkbox:checked + .form__icon {
  background-color: #2196F3;
  border-radius: 2px;
  border-color: #2196F3;
}
.form__desk {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.form__link {
  color: #2196F3;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.submit {
  padding: 10px 52px;
  min-width: 200px;
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit:hover, .submit:focus {
  background-color: #188CE8;
}

/* One Section */
.visually-hidden {
  transform: scale(0);
}

.post {
  display: flex;
}
.post__list {
  width: calc(100% - 22.5px);
}
.post__list:not(:last-child) {
  margin-right: 30px;
}
.post__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F4FA;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.post__title {
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.post__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

/* Two Section */
.title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
}

.label {
  display: flex;
}
.label__list::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}
.label__list {
  margin-right: 30px;
  width: calc(100% - 20px);
  position: relative;
}
.label__image {
  display: block;
}
.label__text {
  position: absolute;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  bottom: 27px;
  right: 107px;
  color: #FFFFFF;
}

/* Three Section */
.team {
  background-color: #F5F4FA;
}

.command {
  display: flex;
}
.command__items {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  width: calc(100% - 22.5px);
}
.command__items:not(:last-child) {
  margin-right: 30px;
}
.command__img {
  display: block;
  margin-bottom: 30px;
}
.command__txt {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}
.command__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__item {
  margin-bottom: 30px;
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
}
.social__svg {
  fill: #AFB1B8;
}
.social__link:hover .social__svg, .social__link:focus .social__svg {
  fill: #FFFFFF;
}

/* Four section */
.clients {
  display: flex;
}
.clients__list {
  width: calc(100% - 25px);
  margin-right: 30px;
}
.clients__list:last-child {
  margin-right: 0;
}
.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__logo, .clients__link:focus .clients__logo {
  fill: #2196F3;
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
}
.clients__logo {
  display: block;
  fill: #AFB1B8;
  transition-duration: 250ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer */
.footer {
  background-color: #2F303A;
  padding: 60px 0;
}

.col {
  margin-right: 70px;
}

.content__list:not(:last-child) {
  margin-bottom: 9px;
}
.content__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content__link:hover, .content__link:focus {
  color: #2196F3;
}
.content__link--current {
  color: #FFFFFF;
}
.content__link--current:hover, .content__link--current:focus {
  color: #2196F3;
}

.subtitle {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.meta {
  display: flex;
  align-items: baseline;
}

.aside {
  display: flex;
  margin-top: 20px;
}
.aside__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.aside__svg {
  fill: currentColor;
}
.aside__link:hover, .aside__link:focus {
  background-color: #2196F3;
}

.distribution {
  margin-left: 93px;
}

.grid {
  display: flex;
  align-items: baseline;
}
.grid__input {
  margin-top: 20px;
  padding: 15px 16px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  width: 358px;
  height: 50px;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  line-height: 1.25;
}

.knob {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  cursor: pointer;
  height: 50px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-left: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.knob:hover, .knob:focus {
  background-color: #188CE8;
}
.knob__text {
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.87;
  color: #FFFFFF;
  margin-right: 10px;
}

/* Portfolio Section *//*# sourceMappingURL=main.css.map */